.flex-container1 {
    display: -webkit-flex;
    display: flex;
    width: 760px;
    height: 30px;
    background-color: green;
    align-content: left;
}

.flex-item1 {
    background-color: green;
    width: 120px;
    height: 40px;
    margin: 3px;
}

.flex-container2 {
    display: -webkit-flex;
    display: flex;
    width: 534px;
    height: 250px;
    flex-wrap: wrap;
    background-color: pink;
    flex-direction: column;
    text-align: center;
}

.flex-item2 {
    background-color: red;
    width: 534px;
    height: 100px;
    text-align: center;
    margin-bottom: 15px;
}

body {
    max-width: 800px;
    height: 800px;
    margin: auto;
    color: white;
    float: left;
}

header {
    background-color: blue;
    text-align: center;
}

aside {
    float: right;
    clear: right;
    background-color: cyan;
    width: 266px;
    max-width: 266px;
    height: 250px;
    text-align: center;
    padding-left: 6px
}

footer {
    text-align: center;
    background-color: green;
}